importFrom(svMisc, listCustoms, getTemp, guiCmd)
#importFrom(R2HTML, HTML, HTMLhr, HTMLInsertGraph, HTMLli, HTML.cormat)
importFrom(utils, browseURL, methods)
importFrom(lattice, trellis.par.set)
importFrom(MASS, lda)

import(R2HTML, graphics, grDevices, stats)
# In R CMD CHECK: warning lattice MASS svIO svMisc not required!

export(guiViewsCmd,
       guiViewsCSS,
       guiViewsCSSChange,
       guiViewsDir,
       guiViewsDisplay,
       guiViewsFile,
       report,
       reportGraph,
       view,
       viewHTMLinit,
       WordActivate,
       WordExec,
       WordExit,
       WordGoto,
       WordGotoEnd,
       WordInsertFile,
       WordInsertPageBreak,
       WordInsertPara,
       WordInsertPictureFile,
       WordInsertText,
       WordOpen)

S3method(view, default)
S3method(view, data.frame)
S3method(view, "function")
S3method(view, matrix)
S3method(view, princomp)
S3method(view, trellis)
S3method(view, ts)
