import(utils)

importFrom(methods, getMethods, isGeneric)

export(assignTemp,
       compareRVersion,
       existsTemp,
       findhtmlhelp,
       help.search.web,
       getEnvironment,
       getTemp,
       guiCmd,
       guiSource,
       isRgui,
       isSDI,
       isWin,
       listCustoms,
       listMethods,
       progress,
       Require,
       rmTemp,
       tempdirWin,
       TempEnv,
       tempvar,
       userdir)
