importFrom(svMisc, assignTemp, findhtmlhelp, getTemp, guiCmd, isSDI, Require, rmTemp)

if(tools:::.OStype() == "windows") {
	importFrom(utils, apropos, choose.files, getS3method, winDialog)
	importFrom(grDevices, graphics.off, windows)
} else {
	importFrom(utils, apropos, getS3method)
	importFrom(grDevices, graphics.off)
}

import(tcltk, svIO, svViews)

export(guiInfo,
       guiInstall,
       guiObjBrowse,
       guiObjClear,
       guiObjDir,
       guiObjList,
       guiObjMenu,
       guiObjSearch,
       guiSave,
       guiStart,
       guiStop,
       guiUninstall,
       Windows)
